@charset "UTF-8";

/*
    em HTML é id    = em CSS é # (só pode um elemento)
    em HTML é class = em CSS é . (pode varios elementos)
*/


body{
    background-color: aqua;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1{
    color: rgb(13, 150, 27);
}
h1#principal{
    color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background-color: blueviolet;
}

.basico{
    color: rgb(147, 147, 147);

}
.intermediario{
    color: rgb(253, 249, 25);

}
.avancado{
    color: rgb(238, 36, 36);

}